$primary   : #0749BF
$secondary : #FFCC29
$accent    : #E63946

$dark      : #0A1F4D
$dark-page : #0749BF
$dark-color : #050E2A
$card-bg   : #87CEEB

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037